<title>E-Book Store ImproveIT</title>
<h1>E-Book Store ImproveIT Harry Potter</h1>
<form action='/Comprarlibros'>
	Harry potter y la piedra filosofal<br><input type="text" name="libro1" /><br>
	Harry potter y la Camara Secreta<br><input type="text" name="libro2" /><br>
	Harry potter y el Prisionero de Azcaban<br><input type="text" name="libro3" /><br>
	Harry potter y el Caliz de Fuego<br><input type="text" name="libro4" /><br>
	Harry potter y la Orden del Fenix<br><input type="text" name="libro5" /><br><br>
	<input type="submit" value="comprar" />
	<p> <%= @total %> </p>
</form>
