<title>Calcular Store ImproveIT</title>
<form action='/calcular'>
	<table>
		<tr>
			<th>Frame</th>
			<th>Roll</th>
			<th>Pins Down</th>			
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r11" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r12" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r21" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r22" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r31" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r32" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r41" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r42" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r51" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r52" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r61" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r62" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r71" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r72" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r81" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r82" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r91" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r92" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r101" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r102" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" value="0" name="r103" /></td>
		</tr>

	</table>

	<input type="submit" value="calcularbutton" />
	<p> <%= @score %> </p>

</form>
